<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="shortcut icon" href="http://imgur.com/26YTpph" type="image/png">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/download">Where To Download</a></li>
	        		<li><a href="/updates">Updates</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:aditya.nair@u.nus.edu">email</a></li>
	        		<li><a href="https://www.nni.com.sg/research/our-laboratories/Neurodegeneration-Laboratory/Pages/Home.aspx">The Neurodegeneration Lab</a></li>
				</ul>
			</footer>
		</body>
	</html>
