<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="shortcut icon" href="images/LipoCount.png" type="image/png">
			<meta name="description" content="A user friendly and automated Tool for the analysis of confocal mircoscope images">
			<meta name="keywords" content="AdCount, Aditya, Nair, Lim Kah Leong, Singapore, Automated, Lipid, Droplets, Mitochondria">
			<meta name="author" content="Aditya Nair">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
			 {% include head.html %}
                         {% seo %}
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/download">Where To Download</a></li>
	        		<li><a href="/updates">Updates</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="aditya-nair-680b6b74"><a class="LI-simple-link" href='https://sg.linkedin.com/in/aditya-nair-680b6b74?trk=profile-badge'>Aditya Nair</a></div>
			<footer>
	    		<ul>
	        		<li><a href="mailto:aditya.nair@u.nus.edu">email</a></li>
	        		<li><a href="https://www.nni.com.sg/research/our-laboratories/Neurodegeneration-Laboratory/Pages/Home.aspx">The Neurodegeneration Lab</a></li>
				</ul>
			</footer>
		</body>
	</html>
